#modal {
    height: 100vh;
    width: 100vw;
    
    background-color: #0e0a14ef;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 400ms;
}


#modal.hide {
    display: none;
}


#modal .content {
    color: white;
    
    width: 420px;
}

#modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px 8px 48px;
}

#modal .header h1 {
    color: white;

    font-size: 36px;
    line-height: 42px;
}

#modal .header a {
    background-image: url("../assets/x.svg");

    width: 20px;
    height: 20px;

    display: flex;

    font-size: 0.0px;

    margin-right: 18px;
}

#modal form label {
    font-size: 16px;
    line-height: 16px;

    display: block;
    margin: 0 8px 8px;
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex: 1;

    background-color: #f0f0f5;

    border: 0;
    border-radius: 8px 0 0 8px;

    padding: 16px 24px;

    font-size: 16px;
    color: #6c6c80;
}

#modal form button {
    width: 72px;
    height: 72px;

    background-color: var(--primary-color);

    border: 0;
    border-radius: 0 8px 8px 0;
}

#modal form button:hover{
    background-color: #2fb85e;
}



/* PONTO CRIADO/ERROR */
#modal.point-created .content,
#modal.point-error .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#modal.point-created h1,
#modal.point-error h1 {
    color: white;

    margin: 32px 0;
}

/* POINT ERROR */
#modal.point-error .content a {
    display: flex;
    font-size: 0.0px;
}

#modal.point-error .content a span {
    background-image: url('../assets/interrogation.svg');

    width: 40px;
    height: 40px;
}

/* MODAL HELP */
/* tudo */
#modal.help .content {
    color: var(--title-color);
    font-weight: bold;
    text-align: center;
    
    width: 450px;
    padding: 16px 0;

    background-color: #f0f0f5;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* erros */
#modal.help .content .errors {
    margin: 16px;
}

/* botao */
#modal.help .content button {
    background-color: var(--primary-color);
    color: var(--title-color);
    font-size: 16px;
    font-weight: bold;

    width: 80%;
    height: 50px;

    border: none;
    border-radius: 8px;
}