/* TELAS PEQUENAS */
@media (max-width: 950px) {
    /* PAGINA INICIAL */
    /* Global */
    #page-home {
        background-position-x: 71vw;
    }
    
    /* Main */
    #page-home .content main {
        align-items: center;
        text-align: center;
    }


    /* PAGINA CRIAR PONTO */
    /* Global */
    #page-create-point form h1 {
        text-align: center;
    }

    /* Campos de Preenchimento */
    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }

    /* Itens de Coleta */
    #page-create-point .items-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    /* PAGINA RESULTADOS */
    #page-search-results main h4,
    #page-search-results main .card{
        display: flex;
        flex-direction: column;

        text-align: center;
        align-items: center;
        justify-content: center; 
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img{
        height: 90%;
    }
}


@media (max-width: 600px) {
    /* GLOBAL */
    header {
        flex-direction: column;
    }

    header a {
        margin: 16px 0;
    }


    /* PAGINA CRIAR PONTO */
    #page-create-point form {
        padding: 64px 16px;
    }
}


@media (max-width: 500px) {
    /* PAGINA CRIAR PONTO */
    #page-create-point form legend {
        display: block;
        text-align: center;
    }

    /* MODAL HELP */
    #modal.help .content {
        width: 80%;
    }
}


@media (max-width: 345px) {
    /* PAGINA INICIAL */
    #page-home main h1 {
        font-size: 50px;
    }


    /* PAGINA CRIAR PONTO */
    /* Itens de Coleta */
    #page-create-point .items-grid {
        grid-template-columns: 1fr; 
    }
}


@media (max-height: 760px) {
    /* PAGINA INICIAL */
    #page-home {
        background-position-y: 200px;
    }
}


/* TELAS GRANDES */
@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}