#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;
}


/* HEADER */
#page-create-point header {
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: 700;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url(../assets/arrow-left.svg);
    
    display: flex;

    width: 20px;
    height: 24px;
}


/* FORMULARIO */
form {
    background-color: white;

    margin: 80px auto 0;
    padding: 64px;

    border-radius: 8px;

    max-width: 730px;

}

/* título */
form h1 {
    font-size: 36px;
}


form fieldset {
    margin-top: 64px;

    border: 0;
}

/* subtitulo */
form legend {
    margin-bottom: 40px;
}

form legend h2 {
    font-size: 24px;
}

/* campos dos dados */
form .field {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-bottom: 24px;
}

/* Estilização */
form input,
form select {
    background-color: #f0f0f5;

    padding: 16px 24px;
    font-size: 16px;
    
    border: 0;
    border-radius: 8px;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


form .field-group { /* deixando os campos um do lado do outro */
    display: flex;
}

form .field-group .field + .field {
    /* pegando o .field que está seguido de um .field */
    /* o antecessor precisar ser um .field */

    margin-left: 24px;
}


/* BUTTON (cadastrar um ponto de coleta) */
form button {
    width: 260px;
    height: 56px;
    
    font-weight: bold;
    font-size: 16px;

    color: white;
    background-color: var(--primary-color);
    
    border-radius: 8px;
    border: 0;
    
    margin-top: 40px;

    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}