/* TELAS PEQUENAS */
@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }
    
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    
    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results main,
    #page-search-results main .card{
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img{
        height: 175px;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}


/* TELAS GRANDES */
@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}